[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
fastapi = "*"
uvicorn = "*"
graphene = "*"
pydantic = "*"

[requires]
python_version = "3.8"
